<div class="footer" role="contentinfo">   
  <div class="row">
    <div class="column-footer">
      <div class="p-footer"><h4 data-i18n="h-footer1">USEFUL LINKS</h4></div>
      <a href="./assets/pages/projects.html" data-i18n="link1">Projects</a>
      <a href="./assets/pages/newsletter.html" data-i18n="link2">Join us</a>
      <a href="./assets/pages/style.html" data-i18n="link4">Style</a>
    </div>
    <div class="column-footer">
      <div class="p-footer"><h4>YOUTH EXCHANGES WITHOUT BORDERS</h4></div>
    <!--  <img id="logo-footer" src="/assets/images/logo_light.svg" alt="Website Logo" width="100px">-->
           <!-- Light logo -->
<img id="logo-header-light" src="./assets/images/logo_light.svg" alt="Logo" class="logo-footer light-logo" width="100px">

<!-- Dark logo -->
<img id="logo-header-dark" src="./assets/images/logo_dark.svg" alt="Logo" class="logo-footer dark-logo" width="100px">

      <p data-i18n="desc-footer">YEWB is a charity (NGO) that aims to plan and implement international youth projects.</p>
    </div>
    <div class="column-footer">
      <div class="p-footer"><h4 data-i18n="h-footer2">CONTACT</h4></div>
        <ul class="fa-ul">
          <li><i class="fa-li fa-solid fa-location-dot"></i>Emmenbrücke, Switzerland</li>
          <li><i class="fa-li fa-solid fa-envelope"></i>info.yewb@gmail.com</li>
          <li><i class="fa-li fa-brands fa-facebook"></i>
          <a href="https://www.facebook.com/yewbngo/" target="_blank">Facebook</a></li>
          <li> <i class="fa-li fa-brands fa-youtube"></i>
          <a href="https://www.youtube.com/@youthexchangeswithoutborde2921/" target="_blank">YouTube</a></li>
        </ul>
    </div>
  </div>
</div>
