<div class="header" id="myTopnav">
  <div class="nav-side">  
    <a href="./index.html">
    <!--  <img id="logo-header" class="nav-logo" src="/assets/images/logo_light.svg" alt="Website Logo">-->

         <!-- Light logo -->
<img id="logo-header-light" src="./assets/images/logo_light.svg" alt="Logo" class="nav-logo light-logo" width="100px">

<!-- Dark logo -->
<img id="logo-header-dark" src="./assets/images/logo_dark.svg" alt="Logo" class="nav-logo dark-logo" width="100px">
    </a>
    <!-- <a href="/index.html"><img class="nav-logo" id="logo-header" src="/assets/images/logo_light.svg" alt="Website Logo"></a -->
  </div>
  <ul class="nav-links">
      <li><a href="./assets/pages/projects3.html" data-i18n="link1">Home</a></li>
      <li><a href="./assets/pages/newsletter.html" data-i18n="link2">Ongoing projects</a></li>
      <li><a href="./assets/pages/language-example.html" data-i18n="link3">Language</a></li>
  </ul>
  <div class="nav-side-icons">
  
    <p class=p-lang data-i18n="lang">EN</p>
    <div class="dropdown1">
       <div class="nav-icon">
          <a href="javascript:void(0);"><i class="fas fa-globe"></i></div></a>
      <div class="dropdown1-content">
          <a href="javascript:void(0);"onclick ="changeLanguage('de')">Deutsch</a>
          <a href="javascript:void(0);"onclick ="changeLanguage('fr')">Francais</a>
          <a href="javascript:void(0);" onclick ="changeLanguage('it')">Italiano</a>
          <a href="javascript:void(0);" onclick ="changeLanguage('en')">English</a>
      </div>
    </div>


    <div class="nav-icon">
      <a href="javascript:void(0);" onclick="myFunctionDark22()" title="Dark/Light mode"><i class="fas fa-circle-half-stroke"></i></a> 
   
    </div>
    <div class="nav-icon-burger">
      <a href="javascript:void(0);" onclick=" mobileMenu()"><i class="fa-solid fa-bars"></i></a>
    </div>
 </div>
</div>
</div>
